################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenGLWin32/v16
/x64/Debug
packages
packages
Release
x64
Debug
